{{ header }}
<div id="error-not-found">
  <div class="error_404 container-fluid p-0">
    <img class="col-12" src="catalog/view/theme/gaswodsnab/image/404-min.jpeg" alt="404 picture">
    <div class="error_404__buttons">
      <h3 class="error_404__title">{{ text_error }}</h3>
      <a class="error_404__button" href="{{ continue }}">{{ go_back_text ?? 'Вернуться назад' }}</a>
    </div>
  </div>
</div>
{{ footer }}
