<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h5>
                    <a href="{{ home }}" class="logo">
                        <img src="/image/white_logo.svg" title="{{ name }}" alt="{{ name }}" class="img-responsive" />
                        <p>качественные водонагреватели</p>
                    </a>
                </h5>
                <ul class="list-unstyled">
                    <li><p>Интернет - магазин водонагревателей с гарантией</p></li>
                    <li>
                        <div class="messengers">
                            <a href="#"><img src="/catalog/view/theme/gaswodsnab/image/icons/telegram.png" alt=""></a>
                            <a href="#"><img src="/catalog/view/theme/gaswodsnab/image/icons/instagram.png" alt=""></a>
                            <a href="#"><img src="/catalog/view/theme/gaswodsnab/image/icons/viber.png" alt=""></a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5>Каталог</h5>
                <ul class="list-unstyled">
                    {% for category in categories %}
                    <li><a href="{{ category.href }}">{{ category.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-sm-4 service">
                <h5>Услуги</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Сервисное обслуживание газовых настенных и напольных котлов</a></li>
                    <li><a href="#">Сервисное обслуживание газовых колонок</a></li>
                    <li><a href="#">Профессиональная промывка систем отопления и тёплых полов</a></li>
                </ul>
            </div>
            {% if informations %}
            <div class="col-sm-2 inform">
                <h5>{{ text_information }}</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Блог</a></li>
                    <li><a href="#">Гарантия и возврат</a></li>
                    <li><a href="#">Доставка и оплата</a></li>
                    <li><a href="#">Политика конфедициальности</a></li>
                </ul>
            </div>
        {% endif %}
        </div>
        <div class="row end">
            <div class="col-sm-3">
                <p>Связаться с разработчиком сайта</p>
                <a href=" https://t.me/mihailyazenuk">
                    <img src="/catalog/view/theme/gaswodsnab/image/icons/telegram_mini.png" alt="">
                    <p>@mihailyazenuk</p>
                </a>
            </div>
            <div class="col-sm-6">
                <p>ГазВодСнаб © 2021. Компания. Все права защищены.</p>
            </div>
            <div class="col-sm-3">
                <h4>Подпишитесь, чтобы быть в курсе новинок</h4>
                <form action="">
                    <input type="email" placeholder="Электронная почта">
                    <button><img src="/catalog/view/theme/gaswodsnab/image/icons/arrow_rigth.png" alt=""></button>
                </form>
                
            </div>
        </div>
    </div>
</footer>
{% for script in scripts %}
    <script src="{{ script }}" type="text/javascript"></script>
{% endfor %}

</body>
</html>