<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/"> 
    <title>{{title}}</title>
    <base href="{{ base }}" />
    {% if description %}
    <meta name="description" content="{{ description }}" />
    {% endif %}
    {% if keywords %}
    <meta name="keywords" content="{{ keywords }}" />
    {% endif %}
    <script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
    <link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700" rel="stylesheet" type="text/css" />
    <link href="{{ load_asset('/stylesheet/stylesheet.css') }}" rel="stylesheet">
    {% for style in styles %}
        <link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
    {% endfor %}
    {% for script in scripts %}
    <script src="{{ script }}" type="text/javascript"></script>
    {% endfor %}
    <script src="catalog/view/javascript/common.js" type="text/javascript"></script>
    {% for link in links %}
    <link href="{{ link.href }}" rel="{{ link.rel }}" />
    {% endfor %}
    {% for analytic in analytics %}
    {{ analytic }}
    {% endfor %}
</head>
<body>
    <div class="grey">
        <div class="container">
            <div class="headerCont">
                <nav class="menu">
                    <ul>
                      <li><a href="#">Гарантия и возврат</a></li>
                      <li><a href="#">Доставка и оплата</a></li>
                      <li><a href="#">Блог</a></li> 
                    </ul>
                    <div class="timeJob">Пн–Сб 9:00–21:00</div>
                </nav>
                <div class="telephone">
                    <a href="+ 380 97 103 01 04">+ 380 97 103 01 04</a>
                    <div>
                        <a href="#">
                            <button type="button">Перезвоните мне</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <header>
        <div class="container">
            <div class="row">
                <div id="logo">
                    {% if logo %}
                        <a href="{{ home }}" class="logo">
                            <img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" />
                            <p>качественные водонагреватели</p>
                        </a>
                    {% else %}
                        <h1><a href="{{ home }}">{{ name }}</a></h1>
                    {% endif %}
                </div>
                <div class="search">
                    {{search}}
                </div>
                <div class="logged">
                    {% if logged %}
                    <a href="{{ logout }}">{{ text_logout }}</a>
                    {% else %}
                    <div class="profile">
                        <a href="{{ login }}">
                            <img src="/catalog/view/theme/gaswodsnab/image/icons/profile.png" alt="profile">{{ text_login }}
                        </a>
                    </div>
                    <a href="{{ register }}">{{ text_register }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>
    {{ menu }}