   <nav id="menu" class="navbar">
  <div class="menu">
    <ul class="catalogServices">
      <div class="dropdown">
        <button class="dropbtn">
          Каталог
          <div class="arrow">
            <img class="arrow" src="/catalog/view/theme/gaswodsnab/image/icons/arrow.png" alt="arrow">
          </div>
        </button>
        <div class="dropdown-content">
          {% for category in categories %}
              <a href="{{ category.href }}">{{ category.name }}</a>
          {% endfor %}
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn_service">
          Услуги
          <div class="arrow">
            <img class="arrow" src="/catalog/view/theme/gaswodsnab/image/icons/arrow.png" alt="arrow">
          </div>
        </button>
        <div class="dropdown-content">
          {% for category in categories %}
              <a href="{{ category.href }}">{{ category.name }}</a>
          {% endfor %}
        </div>
      </div>
    </ul>
    <ul>
      <a href="{{ compare }}" title="{{ text_compare }}">
        <li class="menu-right">
          <img src="/catalog/view/theme/gaswodsnab/image/icons/compair.png" alt="compair" >
          {% if text_compare > 0 %}
          <div>
            <span>{{ text_compare }}</span>
          </div>
          {% endif %}
          Сравнить
        </li>
      </a>
      <a href="{{ wishlist }}" id="wishlist-total" title="{{ text_wishlist }}">
        <li class="menu-right">
          <img src="/catalog/view/theme/gaswodsnab/image/icons/bookmark.png" alt="bookmark">
          {% if text_wishlist > 0 %}
          <div>
            <span>{{ text_wishlist }}</span>
          </div>
          {% endif %}
          Отложенные
        </li>
      </a>
      {{ cart }}
    </ul>    
  </div>
</nav>