<nav id="menu" class="navbar">
  <div class="menu">
    <ul class="catalogServices">
      <a href="#" class="catalog">
        <li>Каталог<img src="/catalog/view/theme/gaswodsnab/image/icons/arrow.png" alt="arrow"></li>
      </a>
      <a href="#">
        <li>Услуги<img src="/catalog/view/theme/gaswodsnab/image/icons/arrow.png" alt="arrow"></li>
      </a>
    </ul>
    <ul class="">
      <a href="{{ compare }}" title="{{ text_compare }}">
        <li class="menu-right">
          <img src="/catalog/view/theme/gaswodsnab/image/icons/compair.png" alt="compair">
          {% if text_compare > 0%}
          <div>
            <span>{{ text_compare }}</span>
          </div>
          {% endif %}
          Сравнить
        </li>
      </a>
      <a href="{{ wishlist }}" id="wishlist-total" title="{{ text_wishlist }}">
        <li class="menu-right">
          <img src="/catalog/view/theme/gaswodsnab/image/icons/bookmark.png" alt="bookmark">
          {% if text_wishlist > 0%}
          <div>
            <span>{{ text_wishlist }}</span>
          </div>
          {% endif %}
          Отложенные
        </li>
      </a>
      <a href="">
          {{ cart }}
      </a>
    </ul>    
  </div>
</nav>
